*~
*.tgz
.*.sw*
# OSX
.DS_Store
# Misc
/TODO
# Python
*.pyc
*.egg-info
__pycache__
/venv
/htmlcov
/dist
.coverage
.tox
# Assets
.webassets-cache
teebr.js
teebr.css
app.css
# Tex
*.log
*.out
*.aux
*.bbl
*.blg
*.toc
*.pdf
# SSL stuff
/_ssl
