/* colors */
/* utilities */
a.text {
  color: inherit;
}
.top20 {
  margin-top: 20px;
}
.top40 {
  margin-top: 40px;
}
html {
  height: 100%;
}
.user-menu-container {
  position: fixed;
  top: 30px;
  right: 40px;
  font-size: 30px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.user-menu-container .user-menu-items {
  top: 120%;
  left: -130px;
  background-color: white;
}
.user-menu-container .user-menu-items a {
  font-weight: bold;
  font-size: 2rem;
  color: #434a54;
}
body.index {
  background-image: url("/static/imgs/dock.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  color: #FCFCFC;
}
body.index .title {
  margin-bottom: 0;
}
body.index .social-buttons {
  margin-left: 5px;
  margin-top: 20px;
}
body.index .social-buttons .social-twitter {
  color: #FAFAFA;
  background-color: #1daee3;
  border-color: #3997ba !important;
}
body.index .social-buttons .social-twitter:active,
body.index .social-buttons .social-twitter:focus,
body.index .social-buttons .social-twitter:hover {
  background-color: #1ba7db;
}
body.home .status-hash,
body.home .status-cash,
body.home .status-at {
  color: #4d4d4d;
}
body.home .status-hashtag {
  font-weight: bold;
}
body.home .status-link {
  color: #3bafda;
}
body.home .status-link .status-link-protocol {
  display: none;
}
body.home .statuses-feed {
  margin-top: 50px;
}
body.home .status-content {
  font-size: 34px;
  min-height: 235px;
  cursor: default;
  box-shadow: 1px 6px 15px #EEE;
  padding: 20px 40px;
}
body.home .status-actions .btn {
  font-size: 1.4em;
  color: #FEFEFE;
}
body.home .status-other-actions {
  text-align: center;
}
body.user-settings form.user-settings {
  text-align: center;
  padding-top: 100px;
  padding-bottom: 100px;
}
body.user-settings form.user-settings .table td,
body.user-settings form.user-settings .table th {
  border: none;
}
body.user-settings form.user-settings .light-help {
  color: #666;
}
body.user-settings form.user-settings h2 {
  margin-top: 100px;
}
/* adapt the number of columns to the width of the window */
.user-padded-container {
  width: 310px;
  padding: 10px;
}
@media (min-width: 992px) {
  .user-padded-container {
    width: 230px;
  }
}
@media (min-width: 1200px) {
  .user-padded-container {
    width: 280px;
  }
}
.recommendations h1 {
  margin-bottom: 80px;
}
.recommendations .user-menu-container.open {
  z-index: 2;
}
.recommendations .user-container {
  background-color: #F7F7F7;
  border-radius: 2px;
}
.recommendations .user-container .user-cover-container {
  height: 80px;
  background-repeat: no-repeat;
  background-size: cover;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}
.recommendations .user-container .user-avatar-container {
  display: inline-block;
  position: relative;
  margin-right: 18px;
  width: 54px;
  height: 54px;
  padding: 3px;
  background: white;
  border-radius: 4px;
  left: 14px;
  top: -21px;
}
.recommendations .user-container .user-avatar-container img {
  border-radius: 2px;
}
.recommendations .user-container .user-screen-name {
  font-weight: bold;
  color: #333333;
  font-size: 1.2em;
  position: relative;
  top: -8px;
}
.recommendations .user-container .user-desc {
  padding: 10px 15px;
  overflow: hidden;
  font-style: italic;
}
.recommendations .user-container .user-counters {
  list-style: none;
  text-align: center;
  padding-left: 12px;
  padding-right: 12px;
}
.recommendations .user-container .user-counters .user-counter {
  display: inline-block;
  width: 28%;
  margin-bottom: 20px;
}
.recommendations .user-container .user-counters .user-counter .user-counter-value,
.recommendations .user-container .user-counters .user-counter .user-counter-label {
  display: block;
}
.recommendations .user-container .user-counters .user-counter .user-counter-value {
  font-weight: bold;
  color: #404040;
}
.recommendations .user-container .user-counters .user-counter .user-counter-label {
  font-size: 0.9em;
  color: #474747;
  position: relative;
  top: -1px;
}
.recommendations .user-container .user-counters,
.recommendations .user-container .user-avatar-container {
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
