
body.home {
  @import "statuses.less";

  .statuses-feed {
    margin-top: 50px;
  }

  .status-content {
    font-size: 3rem;
    border: 1px solid #DDD;
  }

  .status-actions .btn {
    font-size: 1.4em;
    color: #FEFEFE;
  }

  .status-other-actions {
    text-align: center;
  }
}
