/* colors */

@body-color: #434a54; // bootflat
@text: #333;
@light-text: white;

/* utilities */

a.text {
  color: inherit;
}

.top20 { margin-top: 20px; }
.top40 { margin-top: 40px; }

.transition(@duration, @interpolation, @prop: all) {
  -webkit-transition: @prop @duration @interpolation;
     -moz-transition: @prop @duration @interpolation;
      -ms-transition: @prop @duration @interpolation;
          transition: @prop @duration @interpolation;
}
