{% extends "connected_base.html" %}
{% block body_class %}home{% endblock %}
{% block body_attrs %}ng-controller="tbHomeCtrl"{% endblock %}
{% block body %}
{{ super() }}

<div class="statuses-feed" w-mousetrap="{s: skipStatus, left:rateStatusYes, right: rateStatusNo}">
  <div class="row">
    <div class="status col-md-8 col-md-offset-2">
      <div class="row">
        <div class="status-content col-sm-12">{#
          #}<span class="status-text" ng-bind-html="status | tweet_html_text"></span>{#
        #}</div>
      </div>
      <div class="row status-actions top40">
        <a href="#"
           class="col-sm-3 col-sm-offset-2 btn btn-success btn-lg"
           ng-click="rateStatusYes($event)">{{ _("Yep") }}</a>
        <a href="#"
           class="col-sm-2 col-sm-offset-2 btn btn-danger btn-lg"
           ng-click="rateStatusNo($event)">{{ _("Nope") }}</a>
      </div>
      <div class="status-other-actions top20">
        <a href="#" ng-click="skipStatus($event)">{{ _("Skip") }}</a>&nbsp;{#
          #}&bull;&nbsp;<a href="#" ng-click="reportAsSpam($event)">{{ _("Report as Spam") }}</a>
      </div>
    </div>
  </div>
</div>

{% endblock %}
